html {
  min-height: 100vh;
}

.header-title {
  font-size: 2.4em;
  padding: 0 0.4em;
}
header {
  display: flex;
  align-items: center;
  height: 4em;
}

.search-form {
  display: flex;
}

.search-field {
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 1em;
}

.search-btn {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}

.search-bar-icon {
  position: absolute;
  right: 1em;
}
