* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.poke-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  margin-top: 1em;
}

.poke-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10em;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.poke-list-img {
  width: 70%;
  pointer-events: none;
}

.poke-list-name {
  font-size: 1.4em;
  color: #fff;
  padding: 0.5em;
  pointer-events: none;
}
